{% extends 'base.twig' %}

{% block content %}

{{ contenu|trad }} {# Le "|trad" applique le filtre appelé trad#}

{{ name }}

{{ ma_valeur }}


{% endblock %}


{% block article %}

Ceci a changé !

{% endblock %}